
@font-face {font-family: "iconfont";
    src: url('../font/iconfont.eot?t=1479194468540'); /* IE9*/
    src: url('../font/iconfont.eot?t=1479194468540#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../font/iconfont.woff?t=1479194468540') format('woff'), /* chrome, firefox */
    url('../font/iconfont.ttf?t=1479194468540') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    url('../font/iconfont.svg?t=1479194468540#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
    font-family:"iconfont" !important;
    font-size:35px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 1px;
    -moz-osx-font-smoothing: grayscale;
}

.icon-v:before { content: "\e61f"; }

.icon-weixin:before { content: "\e606"; }

.icon-weibo:before { content: "\e655"; }

.icon-instagram:before { content: "\eb2d"; }

.icon-jia:before { content: "\e620"; }

.icon-socialpinterestoutline:before { content: "\e910"; }

.icon-facebookf:before { content: "\e71e"; }

.icon-youtube:before { content: "\e633"; }
