body,p,ul,ol,dl,dt,dd,li,h1,h2,h3,h4,h5,h6,input,td,tr,th,table{
    margin:0;
    padding:0;
    list-style:none;
}
@font-face {
    font-family: 'FE1';
    src: url('../font/NotoSansHans-Bold.otf') format('woff');
}
@font-face {
    font-family: 'FE2';
    src: url('../font/NotoSansHant-Light.otf') format('woff');
}
@font-face {
    font-family: 'FE3';
    src: url('../font/NotoSansHans-Black.otf') format('woff');
}
@font-face {
    font-family: 'FE4';
    src: url('../font/NotoSansHans-Medium.otf') format('woff');
}
@font-face {
    font-family: 'FE5';
    src: url('../font/NOTOSANSHANS-THIN_1.OTF') format('woff');
}
a:link{
    text-decoration:none;
}
img{
    border:none;
}
*{
    box-sizing: border-box;
}
/*html {
    font-size:10px!important
}*/
/*
@media only screen and (min-width: 320px) {
    html {
        font-size:32px!important
    }
}
@media only screen and (min-width: 360px) {
    html {
        font-size:36px!important
    }
}
@media only screen and (min-width: 375px) {
    html {
        font-size:37.5px!important
    }
}
@media only screen and (min-width: 414px) {
    html {
        font-size:41.4px!important
    }
}
@media only screen and (min-width: 768px) {
    html {
        font-size:76.8px!important
    }
}
@media only screen and (min-width: 993px) {
    html {
        font-size:99.3px!important
    }
}
@media only screen and (min-width: 1280px) {
    html {
        font-size:128px!important
    }
}
@media only screen and (min-width: 1920px) {
    html {
        font-size:192px!important
    }
}
*/
