@import "init.css";
body,html{
    width:100%;
    height:100%;
    padding:0;
    margin:0;
    overflow-y: hidden;
    background: #000;
}
.video-box {
    width: 100%;
    height: 100%;
    background: #000;
}
.video-con{
    width: 100%;
    height: 100%;
    position: relative;
    display: block;
}
.video{
    width: 100%;
    height: 100%;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    padding:55px;
    margin: auto auto;
    position: absolute;
}
video {
    width: 100%;
    height: 100%;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto auto;
    position: absolute;
    cursor: pointer;
    /*display:none;*/
}
/*左侧-开始*/
#video-left-btn>span{
    border-top:8px solid #fff;
}
.active #hhsj-left-btn>span{
    border-top:8px solid #fff;
}
#video-left-switch>a,#video-icon-con>a>li,#video-jia{
    color:#fff;
}
.active #video-left-switch>a,#video-icon-con>a>li,#video-jia{
    color:#fff;
}
/*左侧-结束*/
/*右侧-开始*/
.video-right{
    margin-left:110px;
    height:108px;
    position:relative;
    z-index: 9;
}
/*右侧-上-开始*/
.video-right-top{
    width:100%;
    height:108px;
}
.video-header{
    float: left;
    margin-top:-10px;
    height:100%;
}
.video-header>li{
    font-size:50px;
    margin-right:40px;
    float: left;
    color:#fff;
    opacity: 0.5;
    font-family:FE1,sans-serif;
}
.video-header>li.hot{
    opacity: 1;
}
.video-header>li>a{
    color:#fff;
}
.video-header>li:hover{
    opacity: 1;
}
.video-img{
    width:100px;
    height:100%;
    float: right;
}
.video-img>a>img{
    width:100%;
    display: block;
}
/*右侧-上-结束*/
.btn{
    width:80px;
    height:80px;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    cursor: pointer;
    z-index: 999;
    margin: auto auto;
}
.btn>img{
    display: block;
    width:100%;
    height:100%;
}
/*右侧-结束*/

/*video-遮罩开始*/
/*video-遮罩结束*/
@media (max-width:1440px){
    #video-left-btn>span{
        border-top:5px solid #fff;
    }
    .active #hhsj-left-btn>span{
        border-top:5px solid #fff;
    }
    .video{
        padding:40px;
    }
    .video-right{
        margin-left:66px;
    }
    .video-header>li{
        font-size:34px;
        margin-right:35px;
    }
    .video-img{
        width:80px;
        float: right;
    }
}
@media screen and (max-width: 768px){
    #video-left-btn>span {
        border-top: 0.08rem solid #fff;
    }
    .active #video-left-btn>span {
         border-top: 0.08rem solid #fff;
    }
    .video {
        padding: 0.33rem;
    }
    .video-right{
        margin-left:1rem;
        height:auto;
    }
    /*右侧-上-开始*/
    .video-right-top{
        height:auto;
        overflow: hidden;
        margin-bottom:25px;
    }
    .video-header{
        margin-top:-6px;
        width:3rem;
    }
    .video-header>li{
        width:100%;
        display: block;
        font-size:0.36rem;
        line-height:1.725;
    }
    .video-header>li:nth-child(3){
        font-size:0.3rem;
    }
    .video-header>li:nth-child(2),.video-header>li:nth-child(4){
        display: none;
    }
    .video-img{
        width:1rem;
    }
    .video-img>img{
        width:100%;
    }
    .btn {
        width:0.8rem;
        height:0.8rem;
    }

}